#frame {
  border: 1px solid #2E3236;
  border-radius: 5px;
}
#container {
  margin: 2px;
}
#remove {
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: #2E3236;
  color: #E1E2E3;
  margin-left: 5px;
  padding: 0px 5px;
}
#remove:hover {
  background-color: #3E4348;
}
#remove:pressed {
  background-color: #1A1D20;
}